
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  padding: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  background-color: mistyrose;
  height: 90vh;
  width: 95vw;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: columns;
}

/* make the dies look like dies */
.dices-container{
  align-self: center;
  display: grid;
  /* row1 row2 .../ column1 column2 ... */
  grid-template: auto auto / repeat(5, 1fr);
  gap:17px;
}

#dice{
  height:50px;
  width: 50px;
  box-shadow: 3px 2px 2px rgb(119, 34, 34);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
/* #dice:focus{
  outline:none;
} */
/* make it so it looses the shadow box when clicked */
#dice:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0);
}

#dice-num{
  margin:0;
  font-size: 40px;
}

/* add style to the button that roles the dice */
.rolldice_button{
  color: rgb(26, 154, 171);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 0px rgb(127, 22, 22) ;
  height: 60px;
  width: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
}
/* make it active when clicked by playing with shadaow*/
.rolldice_button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0);
}
.rolldice_button:hover{
  transform: scale(1.2);
}

/* add title and paragraph styles */
.title{
  color: green;
}
p{
  width: 60%;
  height: auto;
}